.cache
build/bin
build/ir
build/lib
build/js/*.js.hash
build/js/*.js.trace
lake-packages/*
!build/js/*.js
/widget/dist
/widget/node_modules
/widget/package-lock.json.hash
/widget/package-lock.json.trace
*.olean
*/.DS_Store
/.lake/
